MITRE-FI_Flow_Definition.json
{"flowContents":{"identifier":"d44e4e74-c749-361e-b1be-761e37b886b1","instanceIdentifier":"8feee207-018e-1000-56e8-ced15cb8af94","name":"MITRE_NiFi_Flow","comments":"","position":{"x":896.0,"y":176.0},"processGroups":[{"identifier":"957ccc4d-59c1-3415-843c-f09ea336a8aa","instanceIdentifier":"35cbec78-6c32-3570-4476-738a412346e4","name":"Sending to Elastic Processor","comments":"","position":{"x":552.0,"y":-24.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c64ac1dc-dac4-3ade-aee5-e282c360f8dc","instanceIdentifier":"cd2ae58e-8695-331d-dac6-1ad4f22159db","name":"Send Ghidra JSON's to Elastic","comments":"","position":{"x":-880.0,"y":-56.0},"type":"org.apache.nifi.processors.elasticsearch.PutElasticsearchJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-restapi-nar","version":"2.0.0-M2"},"properties":{"put-es-json-dynamic_templates":null,"put-es-record-batch-size":"100","put-es-record-index-op":"index","put-es-output-error-responses":"false","el-rest-fetch-index":"search-ghidra-output","put-es-json-scripted-upsert":"false","put-es-json-charset":"UTF-8","put-es-json-error-documents":"false","put-es-json-not_found-is-error":"true","el-rest-client-service":"1b8ee953-41c0-3ecd-bf5b-3e9018795b50","put-es-record-log-error-responses":"false","put-es-json-id-attr":null,"el-rest-type":null,"put-es-json-script":null},"propertyDescriptors":{"put-es-json-dynamic_templates":{"name":"put-es-json-dynamic_templates","displayName":"Dynamic Templates","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-batch-size":{"name":"put-es-record-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-index-op":{"name":"put-es-record-index-op","displayName":"Index Operation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-output-error-responses":{"name":"put-es-output-error-responses","displayName":"Output Error Responses","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-fetch-index":{"name":"el-rest-fetch-index","displayName":"Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-json-scripted-upsert":{"name":"put-es-json-scripted-upsert","displayName":"Scripted Upsert","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-json-charset":{"name":"put-es-json-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-json-error-documents":{"name":"put-es-json-error-documents","displayName":"Output Error Documents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-json-not_found-is-error":{"name":"put-es-json-not_found-is-error","displayName":"Treat \"Not Found\" as Success","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-client-service":{"name":"el-rest-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-es-record-log-error-responses":{"name":"put-es-record-log-error-responses","displayName":"Log Error Responses","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-json-id-attr":{"name":"put-es-json-id-attr","displayName":"Identifier Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-type":{"name":"el-rest-type","displayName":"Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-json-script":{"name":"put-es-json-script","displayName":"Script","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry","errors"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"957ccc4d-59c1-3415-843c-f09ea336a8aa"},{"identifier":"c4639b5f-d0c6-3b21-9539-48b0031a0ffa","instanceIdentifier":"9c98dcd4-eda4-3019-d1b0-73d72edf2341","name":"Recieve From Ghidra","comments":"","position":{"x":-880.0,"y":-488.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"api","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","Max Data to Receive per Second":null,"client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"7779"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"957ccc4d-59c1-3415-843c-f09ea336a8aa"},{"identifier":"3dc242bd-4cbd-3a36-b567-af664f22087f","instanceIdentifier":"168c7759-4f68-3bcc-7cbd-889f1e472d65","name":"AttributesToJSON","comments":"","position":{"x":-880.0,"y":-344.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-attribute","Null Value":"false","Attributes List":null,"Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"957ccc4d-59c1-3415-843c-f09ea336a8aa"},{"identifier":"51ea2c2e-c11c-3b1f-94e8-318e08a9427a","instanceIdentifier":"c19dbc1c-e8a9-3022-adb4-820348814e01","name":"Send Exiftool JSON's to Elastic","comments":"","position":{"x":-1256.0,"y":-56.0},"type":"org.apache.nifi.processors.elasticsearch.PutElasticsearchJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-restapi-nar","version":"2.0.0-M2"},"properties":{"put-es-json-dynamic_templates":null,"put-es-record-batch-size":"100","put-es-record-index-op":"index","put-es-output-error-responses":"false","el-rest-fetch-index":"search-exiftool-output","put-es-json-scripted-upsert":"false","put-es-json-charset":"UTF-8","put-es-json-error-documents":"false","put-es-json-not_found-is-error":"true","el-rest-client-service":"1b8ee953-41c0-3ecd-bf5b-3e9018795b50","put-es-record-log-error-responses":"false","put-es-json-id-attr":null,"el-rest-type":null,"put-es-json-script":null},"propertyDescriptors":{"put-es-json-dynamic_templates":{"name":"put-es-json-dynamic_templates","displayName":"Dynamic Templates","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-batch-size":{"name":"put-es-record-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-record-index-op":{"name":"put-es-record-index-op","displayName":"Index Operation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-output-error-responses":{"name":"put-es-output-error-responses","displayName":"Output Error Responses","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-fetch-index":{"name":"el-rest-fetch-index","displayName":"Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-json-scripted-upsert":{"name":"put-es-json-scripted-upsert","displayName":"Scripted Upsert","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-json-charset":{"name":"put-es-json-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-json-error-documents":{"name":"put-es-json-error-documents","displayName":"Output Error Documents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-json-not_found-is-error":{"name":"put-es-json-not_found-is-error","displayName":"Treat \"Not Found\" as Success","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-client-service":{"name":"el-rest-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-es-record-log-error-responses":{"name":"put-es-record-log-error-responses","displayName":"Log Error Responses","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-json-id-attr":{"name":"put-es-json-id-attr","displayName":"Identifier Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-rest-type":{"name":"el-rest-type","displayName":"Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-es-json-script":{"name":"put-es-json-script","displayName":"Script","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry","errors"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"957ccc4d-59c1-3415-843c-f09ea336a8aa"},{"identifier":"a54fd4fa-1aac-36c7-8b19-38fb060e7bfa","instanceIdentifier":"68ea942d-1baa-3e46-faec-c2f20319ad9b","name":"AttributesToJSON","comments":"","position":{"x":-1256.0,"y":-344.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-attribute","Null Value":"false","Attributes List":null,"Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"957ccc4d-59c1-3415-843c-f09ea336a8aa"},{"identifier":"b1adff48-221f-3d4f-b0af-a05069da496f","instanceIdentifier":"b49aee8c-1a39-3ef5-e443-35e16bd4761a","name":"Set Application Type to JSON","comments":"","position":{"x":-1256.0,"y":-200.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"application/json","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"957ccc4d-59c1-3415-843c-f09ea336a8aa"},{"identifier":"933e207b-22cc-3354-99fe-602c0fbec29e","instanceIdentifier":"3e94f05e-3a51-3b24-d111-3eb22e68fb48","name":"Recieve From Exiftool","comments":"","position":{"x":-1256.0,"y":-488.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"download","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","Max Data to Receive per Second":null,"client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"7778"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"957ccc4d-59c1-3415-843c-f09ea336a8aa"},{"identifier":"67f08369-8ad4-3057-acdd-17a4e2b03169","instanceIdentifier":"f3c2ff59-9e66-31a9-6d55-2108bd799584","name":"Set Application Type to JSON","comments":"","position":{"x":-880.0,"y":-200.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"application/json","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"957ccc4d-59c1-3415-843c-f09ea336a8aa"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"42e5d371-2cf4-30b2-8274-d20bfe942fc9","instanceIdentifier":"fc118283-8fb9-3204-8f06-1395e58deece","name":"","source":{"id":"933e207b-22cc-3354-99fe-602c0fbec29e","type":"PROCESSOR","groupId":"957ccc4d-59c1-3415-843c-f09ea336a8aa","name":"Recieve From Exiftool","comments":"","instanceIdentifier":"3e94f05e-3a51-3b24-d111-3eb22e68fb48"},"destination":{"id":"a54fd4fa-1aac-36c7-8b19-38fb060e7bfa","type":"PROCESSOR","groupId":"957ccc4d-59c1-3415-843c-f09ea336a8aa","name":"AttributesToJSON","comments":"","instanceIdentifier":"68ea942d-1baa-3e46-faec-c2f20319ad9b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1416.0,"y":-352.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"957ccc4d-59c1-3415-843c-f09ea336a8aa"},{"identifier":"20980968-4ad3-3bbb-a48f-7183a64ca159","instanceIdentifier":"7998e30e-2381-3082-8194-81c5f46b6aea","name":"","source":{"id":"67f08369-8ad4-3057-acdd-17a4e2b03169","type":"PROCESSOR","groupId":"957ccc4d-59c1-3415-843c-f09ea336a8aa","name":"Set Application Type to JSON","comments":"","instanceIdentifier":"f3c2ff59-9e66-31a9-6d55-2108bd799584"},"destination":{"id":"c64ac1dc-dac4-3ade-aee5-e282c360f8dc","type":"PROCESSOR","groupId":"957ccc4d-59c1-3415-843c-f09ea336a8aa","name":"Send Ghidra JSON's to Elastic","comments":"","instanceIdentifier":"cd2ae58e-8695-331d-dac6-1ad4f22159db"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-392.0,"y":-64.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"957ccc4d-59c1-3415-843c-f09ea336a8aa"},{"identifier":"a502a55d-b6c4-3664-9862-c805bf37ae55","instanceIdentifier":"4124ac8b-6062-3607-700d-d9a3abef2eab","name":"","source":{"id":"3dc242bd-4cbd-3a36-b567-af664f22087f","type":"PROCESSOR","groupId":"957ccc4d-59c1-3415-843c-f09ea336a8aa","name":"AttributesToJSON","comments":"","instanceIdentifier":"168c7759-4f68-3bcc-7cbd-889f1e472d65"},"destination":{"id":"67f08369-8ad4-3057-acdd-17a4e2b03169","type":"PROCESSOR","groupId":"957ccc4d-59c1-3415-843c-f09ea336a8aa","name":"Set Application Type to JSON","comments":"","instanceIdentifier":"f3c2ff59-9e66-31a9-6d55-2108bd799584"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-392.0,"y":-208.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"957ccc4d-59c1-3415-843c-f09ea336a8aa"},{"identifier":"8f9c32cd-f5a6-3946-bb45-00618747cd0a","instanceIdentifier":"b9f1d87d-c0ce-32dd-6578-0db4422a52df","name":"","source":{"id":"b1adff48-221f-3d4f-b0af-a05069da496f","type":"PROCESSOR","groupId":"957ccc4d-59c1-3415-843c-f09ea336a8aa","name":"Set Application Type to JSON","comments":"","instanceIdentifier":"b49aee8c-1a39-3ef5-e443-35e16bd4761a"},"destination":{"id":"51ea2c2e-c11c-3b1f-94e8-318e08a9427a","type":"PROCESSOR","groupId":"957ccc4d-59c1-3415-843c-f09ea336a8aa","name":"Send Exiftool JSON's to Elastic","comments":"","instanceIdentifier":"c19dbc1c-e8a9-3022-adb4-820348814e01"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1392.0,"y":-64.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"957ccc4d-59c1-3415-843c-f09ea336a8aa"},{"identifier":"81d6a94d-5366-3632-ab24-bb2e7048c28e","instanceIdentifier":"8ee00e49-d041-3c32-c345-15c9e2e4d492","name":"","source":{"id":"c4639b5f-d0c6-3b21-9539-48b0031a0ffa","type":"PROCESSOR","groupId":"957ccc4d-59c1-3415-843c-f09ea336a8aa","name":"Recieve From Ghidra","comments":"","instanceIdentifier":"9c98dcd4-eda4-3019-d1b0-73d72edf2341"},"destination":{"id":"3dc242bd-4cbd-3a36-b567-af664f22087f","type":"PROCESSOR","groupId":"957ccc4d-59c1-3415-843c-f09ea336a8aa","name":"AttributesToJSON","comments":"","instanceIdentifier":"168c7759-4f68-3bcc-7cbd-889f1e472d65"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-392.0,"y":-352.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"957ccc4d-59c1-3415-843c-f09ea336a8aa"},{"identifier":"a0d3383c-cca0-3f15-adf4-5fa95ac6783b","instanceIdentifier":"63b30600-57cf-34f0-f150-9087da139148","name":"","source":{"id":"a54fd4fa-1aac-36c7-8b19-38fb060e7bfa","type":"PROCESSOR","groupId":"957ccc4d-59c1-3415-843c-f09ea336a8aa","name":"AttributesToJSON","comments":"","instanceIdentifier":"68ea942d-1baa-3e46-faec-c2f20319ad9b"},"destination":{"id":"b1adff48-221f-3d4f-b0af-a05069da496f","type":"PROCESSOR","groupId":"957ccc4d-59c1-3415-843c-f09ea336a8aa","name":"Set Application Type to JSON","comments":"","instanceIdentifier":"b49aee8c-1a39-3ef5-e443-35e16bd4761a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1400.0,"y":-208.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"957ccc4d-59c1-3415-843c-f09ea336a8aa"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"64d5808c-15f4-33d8-8a29-2af0d91df494","instanceIdentifier":"f85ae16d-d88d-37a1-613c-6c70ace72901","name":"GrokReader","comments":"","type":"org.apache.nifi.grok.GrokReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M2"},"properties":{"Grok Expression":"text","schema-reference-reader":null,"Grok Pattern File":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"no-match-behavior":"append-to-previous-message","schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Grok Expression":{"name":"Grok Expression","displayName":"Grok Expressions","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["URL","TEXT","FILE"]}},"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Grok Pattern File":{"name":"Grok Pattern File","displayName":"Grok Patterns","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["URL","TEXT","FILE"]}},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"no-match-behavior":{"name":"no-match-behavior","displayName":"No Match Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"957ccc4d-59c1-3415-843c-f09ea336a8aa"},{"identifier":"840194a9-339c-32b6-ae39-809ab14e5a7d","instanceIdentifier":"d16fd1fc-38b2-32f7-78e6-443f00cb9a04","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M2"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"957ccc4d-59c1-3415-843c-f09ea336a8aa"},{"identifier":"22a8ce2a-229c-3217-8241-63d15a112dfc","instanceIdentifier":"5b57fad3-6c46-376a-e0bf-d4e353832f35","name":"SSLService","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.0.0-M2"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/opt/nifi/nifi-current/elastic/keystore.jks","Keystore Filename":"/opt/nifi/nifi-current/elastic/keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"957ccc4d-59c1-3415-843c-f09ea336a8aa"},{"identifier":"1b8ee953-41c0-3ecd-bf5b-3e9018795b50","instanceIdentifier":"188a651d-d9d4-39d1-5e7e-b71be42b3977","name":"ELS","comments":"","type":"org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-nar","version":"2.0.0-M2"},"properties":{"el-cs-suppress-nulls":"always-suppress","el-cs-strict-deprecation":"false","el-cs-http-hosts":"https://elasticsearch-es-http.default.svc.cluster.local:9200","el-cs-path-prefix":null,"proxy-configuration-service":null,"el-cs-charset":"UTF-8","api-key-id":null,"el-cs-send-meta-header":"true","el-cs-username":"adc-mitre","el-cs-enable-compression":"false","el-cs-sniff-cluster-nodes":"false","el-cs-sniffer-interval":"5 mins","el-cs-sniffer-failure-delay":"1 min","el-cs-node-selector":"ANY","authorization-scheme":"BASIC","el-cs-sniff-failure":"false","el-cs-sniffer-request-timeout":"1 sec","el-cs-connect-timeout":"15000","el-cs-socket-timeout":"60000","el-cs-ssl-context-service":"22a8ce2a-229c-3217-8241-63d15a112dfc"},"propertyDescriptors":{"el-cs-suppress-nulls":{"name":"el-cs-suppress-nulls","displayName":"Suppress Null/Empty Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-strict-deprecation":{"name":"el-cs-strict-deprecation","displayName":"Strict Deprecation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-http-hosts":{"name":"el-cs-http-hosts","displayName":"HTTP Hosts","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-path-prefix":{"name":"el-cs-path-prefix","displayName":"Path Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"el-cs-charset":{"name":"el-cs-charset","displayName":"Charset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"api-key-id":{"name":"api-key-id","displayName":"API Key ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-send-meta-header":{"name":"el-cs-send-meta-header","displayName":"Send Meta Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-username":{"name":"el-cs-username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-enable-compression":{"name":"el-cs-enable-compression","displayName":"Enable Compression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniff-cluster-nodes":{"name":"el-cs-sniff-cluster-nodes","displayName":"Sniff Cluster Nodes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-interval":{"name":"el-cs-sniffer-interval","displayName":"Sniffer Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-failure-delay":{"name":"el-cs-sniffer-failure-delay","displayName":"Sniffer Failure Delay","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-password":{"name":"el-cs-password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"api-key":{"name":"api-key","displayName":"API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"el-cs-node-selector":{"name":"el-cs-node-selector","displayName":"Node Selector","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-scheme":{"name":"authorization-scheme","displayName":"Authorization Scheme","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniff-failure":{"name":"el-cs-sniff-failure","displayName":"Sniff on Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-request-timeout":{"name":"el-cs-sniffer-request-timeout","displayName":"Sniffer Request Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-connect-timeout":{"name":"el-cs-connect-timeout","displayName":"Connect timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-socket-timeout":{"name":"el-cs-socket-timeout","displayName":"Read timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-ssl-context-service":{"name":"el-cs-ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.elasticsearch.ElasticSearchClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"957ccc4d-59c1-3415-843c-f09ea336a8aa"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"d44e4e74-c749-361e-b1be-761e37b886b1"}],"remoteProcessGroups":[],"processors":[{"identifier":"012e0c71-63d4-3108-a756-2f9158220adc","instanceIdentifier":"56ffc25e-2bb4-3dac-9799-a62c4ab76450","name":"Recieve From Flask","comments":"","position":{"x":544.0,"y":-888.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"upload","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","Max Data to Receive per Second":null,"client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"7776"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d44e4e74-c749-361e-b1be-761e37b886b1"},{"identifier":"b4ed77cb-66a4-3235-b288-f4cf0fb416b9","instanceIdentifier":"4231e715-f803-3bcc-bcdc-428c5b331bb6","name":"Send to Ghidra","comments":"","position":{"x":288.0,"y":-232.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"15 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"30 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://mitrehidra.default.svc.cluster.local:8000/analyze","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","post:form:output":"http://nifi:7779/api","Socket Write Timeout":"30 secs","Request Header Attributes Pattern":null,"post:form:file_name":"${http.multipart.filename}","Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":"6738290e-46dc-385c-83a5-97d61bf0413f","Response Generation Required":"false","post:form:api_key":"8nc380k0xk29mt38-9mcpwrm3n98nc+__#m0cm09mx0rp","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":"file","Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"post:form:output":{"name":"post:form:output","displayName":"post:form:output","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"post:form:file_name":{"name":"post:form:file_name","displayName":"post:form:file_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"post:form:api_key":{"name":"post:form:api_key","displayName":"post:form:api_key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d44e4e74-c749-361e-b1be-761e37b886b1"},{"identifier":"de3af161-0ddf-36cf-9805-82ea9ac01210","instanceIdentifier":"80ce2ee0-2491-3aea-6d47-87fa664f69dd","name":"Send to EXIFTOOL","comments":"","position":{"x":824.0,"y":-232.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"15 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"30 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://exiftool.default.svc.cluster.local:8001/analyze","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","post:form:output":"http://nifi:7778/download","Socket Write Timeout":"30 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":"b56fc60a-8bb1-31d0-89c3-d7163c04b75b","Response Generation Required":"false","post:form:api_key":"8nc380k0xk29mt38-9mcpwrm3n98nc+__#m0cm09mx0rp","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":"file","Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"post:form:output":{"name":"post:form:output","displayName":"post:form:output","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"post:form:api_key":{"name":"post:form:api_key","displayName":"post:form:api_key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d44e4e74-c749-361e-b1be-761e37b886b1"},{"identifier":"6ec7da8d-5b20-3492-8817-c4b3d22eb815","instanceIdentifier":"5b203ecf-e928-36ce-7eaa-d5e09f3a3a21","name":"Identify Type of File","comments":"","position":{"x":544.0,"y":-752.0},"type":"org.apache.nifi.processors.standard.IdentifyMimeType","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"config-file":null,"config-strategy":"Preset","use-filename-in-detection":"true","config-body":null},"propertyDescriptors":{"config-file":{"name":"config-file","displayName":"Config File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"config-strategy":{"name":"config-strategy","displayName":"Config Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-filename-in-detection":{"name":"use-filename-in-detection","displayName":"Use Filename In Detection","identifiesControllerService":false,"sensitive":false,"dynamic":false},"config-body":{"name":"config-body","displayName":"Config Body","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d44e4e74-c749-361e-b1be-761e37b886b1"},{"identifier":"28218868-dace-3505-b78d-44b4403e6047","instanceIdentifier":"ee4b15e2-018e-1000-8b7b-ef3f7679f366","name":"Update Filename to Actual Filename","comments":"","position":{"x":544.0,"y":-616.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M2"},"properties":{"Delete Attributes Expression":null,"filename":"${http.multipart.filename}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d44e4e74-c749-361e-b1be-761e37b886b1"},{"identifier":"0410237d-5a7f-3693-932b-c6a23044e17d","instanceIdentifier":"bf8bcbdd-b457-33f0-1307-a44c7eeabe66","name":"Route Only Executables to Ghidra","comments":"","position":{"x":544.0,"y":-480.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Routing Strategy":"Route to 'match' if any matches","isExe":"${mime.type:equals('application/x-ms-installer')}","isFormData":"${mime.type:equals('multipart/form-data')}","isElf":"${mime.type:equals('application/x-elf')}","isMsDownload":"${mime.type:equals('application/x-msdownload')}","isForm":"${mime.type:equals('application/x-www-form-urlencoded')}","isPython":"${mime.type:equals('application/x-python-code')}","isSh":"${mime.type:equals('application/x-sh')}","isSharedLib":"${mime.type:equals('application/x-sharedlib')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isExe":{"name":"isExe","displayName":"isExe","identifiesControllerService":false,"sensitive":false,"dynamic":true},"isFormData":{"name":"isFormData","displayName":"isFormData","identifiesControllerService":false,"sensitive":false,"dynamic":true},"isElf":{"name":"isElf","displayName":"isElf","identifiesControllerService":false,"sensitive":false,"dynamic":true},"isMsDownload":{"name":"isMsDownload","displayName":"isMsDownload","identifiesControllerService":false,"sensitive":false,"dynamic":true},"isForm":{"name":"isForm","displayName":"isForm","identifiesControllerService":false,"sensitive":false,"dynamic":true},"isPython":{"name":"isPython","displayName":"isPython","identifiesControllerService":false,"sensitive":false,"dynamic":true},"isSh":{"name":"isSh","displayName":"isSh","identifiesControllerService":false,"sensitive":false,"dynamic":true},"isSharedLib":{"name":"isSharedLib","displayName":"isSharedLib","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d44e4e74-c749-361e-b1be-761e37b886b1"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"95f47069-c4e9-3776-86bd-ed5bb64e0ec6","instanceIdentifier":"ee4b33fb-018e-1000-351f-7c13494c4813","name":"","source":{"id":"6ec7da8d-5b20-3492-8817-c4b3d22eb815","type":"PROCESSOR","groupId":"d44e4e74-c749-361e-b1be-761e37b886b1","name":"Identify Type of File","comments":"","instanceIdentifier":"5b203ecf-e928-36ce-7eaa-d5e09f3a3a21"},"destination":{"id":"28218868-dace-3505-b78d-44b4403e6047","type":"PROCESSOR","groupId":"d44e4e74-c749-361e-b1be-761e37b886b1","name":"Update Filename to Actual Filename","comments":"","instanceIdentifier":"ee4b15e2-018e-1000-8b7b-ef3f7679f366"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1088.0,"y":-632.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d44e4e74-c749-361e-b1be-761e37b886b1"},{"identifier":"365ea8fa-90b3-3c2c-8ed0-5134d255f8b5","instanceIdentifier":"d2281914-b0a0-3fa8-16cb-0b5398d54050","name":"","source":{"id":"012e0c71-63d4-3108-a756-2f9158220adc","type":"PROCESSOR","groupId":"d44e4e74-c749-361e-b1be-761e37b886b1","name":"Recieve From Flask","comments":"","instanceIdentifier":"56ffc25e-2bb4-3dac-9799-a62c4ab76450"},"destination":{"id":"6ec7da8d-5b20-3492-8817-c4b3d22eb815","type":"PROCESSOR","groupId":"d44e4e74-c749-361e-b1be-761e37b886b1","name":"Identify Type of File","comments":"","instanceIdentifier":"5b203ecf-e928-36ce-7eaa-d5e09f3a3a21"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1088.0,"y":-760.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d44e4e74-c749-361e-b1be-761e37b886b1"},{"identifier":"b3f184bc-0b1d-3045-ba95-f98b6123023a","instanceIdentifier":"a3c44cc1-db75-3253-296e-53ec765e2628","name":"","source":{"id":"0410237d-5a7f-3693-932b-c6a23044e17d","type":"PROCESSOR","groupId":"d44e4e74-c749-361e-b1be-761e37b886b1","name":"Route Only Executables to Ghidra","comments":"","instanceIdentifier":"bf8bcbdd-b457-33f0-1307-a44c7eeabe66"},"destination":{"id":"b4ed77cb-66a4-3235-b288-f4cf0fb416b9","type":"PROCESSOR","groupId":"d44e4e74-c749-361e-b1be-761e37b886b1","name":"Send to Ghidra","comments":"","instanceIdentifier":"4231e715-f803-3bcc-bcdc-428c5b331bb6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":480.0,"y":-288.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d44e4e74-c749-361e-b1be-761e37b886b1"},{"identifier":"80589c88-0155-3023-a78f-68b5797b4540","instanceIdentifier":"71164ce4-f361-3a6c-31b7-3bb96768a06e","name":"","source":{"id":"0410237d-5a7f-3693-932b-c6a23044e17d","type":"PROCESSOR","groupId":"d44e4e74-c749-361e-b1be-761e37b886b1","name":"Route Only Executables to Ghidra","comments":"","instanceIdentifier":"bf8bcbdd-b457-33f0-1307-a44c7eeabe66"},"destination":{"id":"de3af161-0ddf-36cf-9805-82ea9ac01210","type":"PROCESSOR","groupId":"d44e4e74-c749-361e-b1be-761e37b886b1","name":"Send to EXIFTOOL","comments":"","instanceIdentifier":"80ce2ee0-2491-3aea-6d47-87fa664f69dd"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":976.0,"y":-288.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d44e4e74-c749-361e-b1be-761e37b886b1"},{"identifier":"3dda72bf-181d-30b4-bcda-fa08efbda75e","instanceIdentifier":"ee4b3f23-018e-1000-f2a6-beac727831ec","name":"","source":{"id":"28218868-dace-3505-b78d-44b4403e6047","type":"PROCESSOR","groupId":"d44e4e74-c749-361e-b1be-761e37b886b1","name":"Update Filename to Actual Filename","comments":"","instanceIdentifier":"ee4b15e2-018e-1000-8b7b-ef3f7679f366"},"destination":{"id":"0410237d-5a7f-3693-932b-c6a23044e17d","type":"PROCESSOR","groupId":"d44e4e74-c749-361e-b1be-761e37b886b1","name":"Route Only Executables to Ghidra","comments":"","instanceIdentifier":"bf8bcbdd-b457-33f0-1307-a44c7eeabe66"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1088.0,"y":-504.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d44e4e74-c749-361e-b1be-761e37b886b1"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"ef112186-63e4-3997-91e7-ba701dafc344","instanceIdentifier":"94f6b4b7-08a4-3de9-0c5c-25de5899ed84","name":"HTTPcontextMap","comments":"","type":"org.apache.nifi.http.StandardHttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-http-context-map-nar","version":"2.0.0-M2"},"properties":{"Request Expiration":"1 min","Maximum Outstanding Requests":"5000"},"propertyDescriptors":{"Request Expiration":{"name":"Request Expiration","displayName":"Request Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Outstanding Requests":{"name":"Maximum Outstanding Requests","displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.http.HttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d44e4e74-c749-361e-b1be-761e37b886b1"},{"identifier":"03a59492-abc5-3a6a-9137-e720c00b2419","instanceIdentifier":"738a5c32-47a8-302e-96b4-61f5e62288ce","name":"ElasticSearchClientServiceImpl","comments":"","type":"org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-nar","version":"2.0.0-M2"},"properties":{"el-cs-suppress-nulls":"always-suppress","el-cs-strict-deprecation":"false","el-cs-http-hosts":"http://localhost:9200/","el-cs-path-prefix":null,"proxy-configuration-service":null,"el-cs-charset":"UTF-8","api-key-id":null,"el-cs-send-meta-header":"true","el-cs-username":null,"el-cs-enable-compression":"false","el-cs-sniff-cluster-nodes":"false","el-cs-sniffer-interval":"5 mins","el-cs-sniffer-failure-delay":"1 min","el-cs-node-selector":"ANY","authorization-scheme":"BASIC","el-cs-sniff-failure":"false","el-cs-sniffer-request-timeout":"1 sec","el-cs-connect-timeout":"5000","el-cs-socket-timeout":"60000","el-cs-ssl-context-service":null},"propertyDescriptors":{"el-cs-suppress-nulls":{"name":"el-cs-suppress-nulls","displayName":"Suppress Null/Empty Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-strict-deprecation":{"name":"el-cs-strict-deprecation","displayName":"Strict Deprecation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-http-hosts":{"name":"el-cs-http-hosts","displayName":"HTTP Hosts","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-path-prefix":{"name":"el-cs-path-prefix","displayName":"Path Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"el-cs-charset":{"name":"el-cs-charset","displayName":"Charset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"api-key-id":{"name":"api-key-id","displayName":"API Key ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-send-meta-header":{"name":"el-cs-send-meta-header","displayName":"Send Meta Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-username":{"name":"el-cs-username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-enable-compression":{"name":"el-cs-enable-compression","displayName":"Enable Compression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniff-cluster-nodes":{"name":"el-cs-sniff-cluster-nodes","displayName":"Sniff Cluster Nodes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-interval":{"name":"el-cs-sniffer-interval","displayName":"Sniffer Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-failure-delay":{"name":"el-cs-sniffer-failure-delay","displayName":"Sniffer Failure Delay","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-password":{"name":"el-cs-password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"api-key":{"name":"api-key","displayName":"API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"el-cs-node-selector":{"name":"el-cs-node-selector","displayName":"Node Selector","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-scheme":{"name":"authorization-scheme","displayName":"Authorization Scheme","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniff-failure":{"name":"el-cs-sniff-failure","displayName":"Sniff on Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-request-timeout":{"name":"el-cs-sniffer-request-timeout","displayName":"Sniffer Request Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-connect-timeout":{"name":"el-cs-connect-timeout","displayName":"Connect timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-socket-timeout":{"name":"el-cs-socket-timeout","displayName":"Read timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-ssl-context-service":{"name":"el-cs-ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.elasticsearch.ElasticSearchClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d44e4e74-c749-361e-b1be-761e37b886b1"},{"identifier":"6738290e-46dc-385c-83a5-97d61bf0413f","instanceIdentifier":"174293b2-268a-3e10-526e-bb5b21677286","name":"GhidraSSL","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.0.0-M2"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/opt/nifi/nifi-current/ghidra/keystore.jks","Keystore Filename":"/opt/nifi/nifi-current/ghidra/keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d44e4e74-c749-361e-b1be-761e37b886b1"},{"identifier":"b56fc60a-8bb1-31d0-89c3-d7163c04b75b","instanceIdentifier":"99fd9f6e-4623-356b-026e-fbd20cd6348a","name":"ExiftoolSSL","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.0.0-M2"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/opt/nifi/nifi-current/exiftool/keystore.jks","Keystore Filename":"/opt/nifi/nifi-current/exiftool/keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d44e4e74-c749-361e-b1be-761e37b886b1"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}